body,
.page,
.page *,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    min-width:320px;
    overflow:auto
}
.page noscript {
    font:16px monospace;
    padding:1em
}
.flex-c{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center
}
.page{
    min-height:100vh;
    background-color:rgba(0,50,0,.2);
    border:10px solid darkgreen;
    & article{
        outline:5px solid rgba(0,128,0,.5);
        outline-offset:-5px;
        width:min(500px,100%);
        min-height:500px;
        & #box{
            position:relative;
            background:no-repeat center/100% url('./circle.svg');
            & canvas{
                z-index:1
            }
            & div {
                width:400px;
                height:400px;
                position:absolute;
                z-index:10;
                background-color:rgba(0,128,0,.1);
                border-radius:50%;
                cursor:pointer;
                opacity:1
            }
            & div:focus{
                opacity:0.5
            }
        }
    }
}
@media (max-width:500px){
    #box{
        transform:scale(.7)
    }
}